@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;0,900;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,900;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    margin: 0%;
    overflow: hidden;
    cursor: default;
}

.header {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 130px;
    border-bottom: 5px solid black;

    /* color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px; */

    position: fixed;
    top: 0%;
    z-index: 100;
    border-collapse: collapse;
}

.header tr:nth-child(1) {
    background-color: #16191d;
}

.header tr:nth-child(2) {
    background-color: #1f1f1f;
}

.header .buton-back {
    cursor: pointer;
    width: 100px;
    height: 50px;

    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    text-align: center;

    border-radius: 24px;
    border: 1px solid #c2c2c2;
}

/* PENTRU ACCESAREA CELULEI BUTONULUI */
.header tr:nth-child(1) td:nth-child(1) {
    width: 100px;
}

.header .titlu {
    /* font-family: "Alliance1", "Alliance1HeaderFallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
    font-weight: 800;
    letter-spacing: -0.01em;
    font-style: italic;
    font-size: 32px;
    padding: 0px 25px 0px 25px;

    width: 70%;
}

.header .titlu a {
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}

.header .subtitlu {
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
}

.header .persoane {
    height: 70px;
}

.header marquee p {
    margin: 0%;
    padding: 0%;

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header marquee img {
    height: 70px;
    width: 72px;
    /* overflow: hidden; */
}

.header td {
    border: 2px solid black;
}

/* SE POATE IGNORA CLASA DE JOS */
.container {
    margin-top: 130px;
    position: absolute;
    width: 100%;
    /* height: 100%; */
    height: calc(100% - 130px);
    top: 0%;
    left: 0%;

    display: flex;
}

.stanga {
    width: 15%;
    height: 100%;
    background-color: #16191d;
    padding: 30px;

    /* position: absolute;
    top: 0%; */
}

.stanga .titlu {
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}

.stanga .linkuri {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #551a8b;

    padding: 20px 0px 10px 20px;

    display: flex;
    flex-direction: column;
}

.stanga .linkuri a {
    padding-bottom: 10px;
    text-decoration: none;
}

.stanga .sunet {
    position: inherit;
    top: 50%;
    padding: 55% 0px 0px 0px;
}

.stanga .sunet .titlu {
    margin-bottom: 20px;
}

.stanga .sunet audio {
    max-width: 100%;
}

.centru {
    width: 65%;
    /* width: max-content; */
    height: 100%;
    background-color: black;

    /* position: absolute;
    left: 15%;
    top: 0%; */
    /* transform: translate(-50%, 0%); */
}

.centru iframe {
    border: 1px solid #000 !important;
    overflow: scroll !important;
    width: 100%;
    height: 100%;
}

.dreapta {
    width: 20%;
    height: 100%;
    background-color: #16191d;
    /* right: 0%;
    top: 0%;
    position: absolute; */
}

.dreapta .caseta-dr {
    /* background-color: yellow; */
    background-image: url();
    width: 300px;
    height: 300px;
    max-width: 100%;
    margin-top: 40px;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    border: none;
}

.dreapta .linkuri {
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;

}

.dreapta .linkuri {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    padding: 30% 0px 10px 10%;

    display: flex;
    flex-direction: column;
}

.dreapta .linkuri .titlu {
    color: aliceblue;
    font-size: 24px;
    font-weight: 300;
}

.dreapta .linkuri a {
    margin-left: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 18px;

    text-decoration: none;
    color: #551a8b;
    font-weight: 500;
}