@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;0,900;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,900;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    margin: 0px;
    overflow-x: hidden;
}

.header {
    height: 65px;
    width: 100%;
    background-color: #16191d;
    /* text-align: center; */

    position: fixed;
    z-index: 100;
    top: 0%;

}

.header .head-links {
    width: 80%;
    max-width: 1280px;
    height: 100%;
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header a,
img {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: aliceblue;
    margin-top: auto;
    margin-bottom: auto;
}

/* IN PRINCIPAL PAGINA DE FRONT CU IMAGINEA */
.start {
    background-image: url('../imagini/sydney.png');
    background-size: 100%;
    background-color: #000000a3;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-position-y: 200%;

    cursor: default;

    margin-top: 65px;
    width: 100%;
    height: 90%;

    color: aliceblue;
}

/* PENTRU O NOTITA NU E IMPORTANT */
.start .ceva {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding-top: 5px;
    text-align: center;

    position: absolute;
    left: 50%;
    padding-top: 10px;
    /* top: %; */
    transform: translate(-50%, -0%);
}

.start .titlu {
    text-align: center;
    text-overflow: clip;
    font-size: 5em;
    /* font-family:'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic; */
    font-family: "Alliance1", "Alliance1HeaderFallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 800;
    letter-spacing: -0.01em;
    font-style: italic;

    color: #ffffff;

    /* pare rau de asta */
    white-space: nowrap;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start .subtitlu {
    text-align: center;
    font-size: 1.4em;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    /* de asemenea */
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start .genuri {
    width: 70%;

    /* iar pare rau trebuie asejare in pagina frumoasa */
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* apoi spatiere mai ok */
    display: flex;
    justify-content: space-around;
}

.start .genuri a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
}

#scroll-jos {
    background-color: #000000;
    height: 100px;
    line-height: 100px;
    color: aliceblue;
    text-align: center;
    font-family: 'Great Vibes', sans-serif;
    font-size: 32px;
}

/* NEIMPORTANT DOAR DETALII */
.start .cerc {
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    border-radius: 50%;
    position: absolute;
    bottom: 3%;
    right: 1%;
}

.start .cerc .linie {
    width: 8px;
    background-color: #000000;
    height: 25px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.start .cerc .triunghi {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #000000;
    font-size: 0;
    line-height: 0;
    margin-left: auto;
    margin-right: auto;
}

/* IGNORAND CE ESTE SUS */

.repr {
    background-color: #2d2d2d;
    height: 80px;
    line-height: 80px;
    color: aliceblue;
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* PROP GENERALE PENTRU FIECARE CARD */
.card {
    height: auto;
    width: 100%;
    border-bottom: 20px solid aliceblue;

    display: flex;
}

.card>.stanga {
    width: 60%;
    max-height: inherit;
    padding: 20% 0% 0% 0%;
    cursor: default;
}

.card>.dreapta {
    width: 40%;
    cursor: default;
    background-color: #555555;
}

.card .stanga .titlu {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 800;
    font-style: italic;

    max-height: inherit;
    position: relative;
    top: -75%;
    left: -20%;
}

.card .stanga .desc {
    text-align: left;
    max-width: 70%;

    text-indent: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: italic;

    position: relative;
    transform: translate(20%, -90%);
    top: -30%;
}

.card .stanga .subgenuri {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;

    position: relative;
    left: 14%;
    top: -40%;
}

.card .stanga .subgenuri a {
    text-decoration: none;
}

.card .dreapta>img {
    text-align: center;
    border-radius: 50%;
    border: 2px solid black;

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    object-fit: contain;
}

/* CASETA CU INFORMATIILE ARTISTULUI SA MUT MAI USOR ALEA */
.card .dreapta .detl-artist {
    width: 100%;
    text-align: center;
    /* background-color: aqua; */

    position: relative;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.card .dreapta .detl-artist .nume {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    padding: 10px;
}

.card .dreapta .detl-artist .rol {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 800;
    padding: 4px;
}

.card .dreapta .detl-artist .descr {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    padding: 4px;

    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    max-width: 70%;
}

.card .dreapta button {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    height: 75px;
    width: 220px;
    border-radius: 12px;
    padding: 20px;

    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 500;

    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* PROP SPECIFICE PENTRU GENURILE CARDURILOR */

.card#rock{
    background-color: #5d6062;
}
.card#jazz{
    background-color: #caad9f;
}
.card#pop{
    background-color: #b0959b;
}
.card#clasic{
    background-color: #adb5bd;
}
.card#folk{
    background-color: #d3c0b3;
}